  <div class="container">

    <div class="refuge-info">
      <h1><%= @refuge.name %></h1>
        <h3>Bonjour à tous et bienvenue sur la page de notre refuge ! Vous trouverez sur cette page toutes nos informations et nos pensionnaires à l'adoption !</h3>
        <%= @refuge.address %> <%= @refuge.postcode %> <%= @refuge.city %>
    </div>
      <div class="refuge-animal">
        <% @refuge.animals.each do |animal| %>
          <h1><%= animal.name %></h1>
          <h2><%= animal.species %></h2>
          <h2><%= animal.age %> ans</h2>
            <h3><%= animal.description %></h3>
            <%= link_to "edit", edit_refuge_animal_path(@refuge, animal) %>
          <% end %>
      </div>
      <% if user_signed_in? %>
      <% pre_like = @refuge.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', refuge_like_path(@refuge, pre_like), method: :delete %>
        <% else %>
           <%= button_to 'Like', refuge_likes_path(@refuge), method: :post %>
        <% end %>
        <% end %>
      <p><%= @refuge.likes.count %> <%= (@refuge.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </div>

<%= link_to "Retour aux refuges", refuges_path, class:"btn btn-primary" %>
