<h1>Hello <%= @user.username %> !<h1>

<h2>Vos informations :</h2>
<ul>
<li>Prénom : <%= @user.first_name %></li>
<li>Nom : <%= @user.last_name %></li>
<li>Adresse : <%= @user.adress %></li>
<li>Date de naissance : <%= @user.birth_date %></li>
</ul>
